<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./lib/vue.js"></script>
    <script src="./lib/axios.min.js"></script>
</head>
<body>
    <p>This is admin page</p>
    <div id="products">
            <button v-on:click="showAddProductsPage()">For Products</button>
            <div id="addproducts" style="display:none"> 
                <label>Name</label>               
                <input type="text" id="name" v-model="productName">
                <br>
                <label>Vendors</label>
                <select id="vendorName" v-model="productVendor">
                    <option value="0" selected>--Select--</option>
                    <option v-for="vendor in vendors" v-bind:value="vendor.id">{{vendor.name}}</option>
                </select>
                <br>
        
                <label>Price</label> 
                <input type="text" id="price" v-model="productPrice">
                <br>
                <button v-on:click="addProducts" id="newProduct">Add Product</button>
            </div>
    </div>
    
    <script src="./js/main.js"></script>
    
</body>
</html>